<div class="col-lg-6">
  <div class="form-group row">
    <label for="inputEmail1" class="col-sm-6 col-form-label">ID</label>
    <div class="col-sm-6">
      <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails.id}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail1" class="col-sm-6 col-form-label">rsp-id-ref</label>
    <div class="col-sm-6">
      <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['rsp-id-ref']}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail1" class="col-sm-6 col-form-label">vnfd-connection-point-ref</label>
    <div class="col-sm-6">
      <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['vnfd-connection-point-ref']}}</label>
    </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="form-group row">
    <label for="inputEmail1" class="col-sm-6 col-form-label">Name</label>
    <div class="col-sm-6">
      <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails.name}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail1" class="col-sm-6 col-form-label">vnfd-id-ref</label>
    <div class="col-sm-6">
      <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['vnfd-id-ref']}}</label>
    </div>
  </div>
</div>