<div class="col-lg-6">
    <div class="form-group row">
      <label for="inputEmail1" class="col-sm-6 col-form-label">ID</label>
      <div class="col-sm-6">
        <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails.id}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail1" class="col-sm-6 col-form-label">ip-proto</label>
      <div class="col-sm-6">
        <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['ip-proto']}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail1" class="col-sm-6 col-form-label">source-ip-address</label>
      <div class="col-sm-6">
        <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['source-ip-address']}}</label>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group row">
      <label for="inputEmail1" class="col-sm-6 col-form-label">source-port</label>
      <div class="col-sm-6">
        <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['source-port']}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail1" class="col-sm-6 col-form-label">destination-ip-address</label>
      <div class="col-sm-6">
        <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['destination-ip-address']}}</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail1" class="col-sm-6 col-form-label">destination-port</label>
      <div class="col-sm-6">
        <label for="inputEmail1" class="col-sm-6 col-form-label">{{nodeDetails['destination-port']}}</label>
      </div>
    </div>
  </div>